<mat-card>
  <mat-card-header>
    <mat-card-title>Create a New Post</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="onSubmit({ title: title, content: content })" class="create-form">
      <mat-form-field class="create-full-width">
        <input matInput [(ngModel)]="title" type="text" name="title" placeholder="Enter post title" required>
      </mat-form-field>
      <mat-form-field class="create-full-width">
        <textarea matInput [(ngModel)]="content" name="content" placeholder="Enter post content" required></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Create Post</button>
    </form>
  </mat-card-content>
</mat-card>
